body {
  background-color: #f4f6f9;
}

.layout {
  display: flex;
}

.main {
  flex: 1;
  transition: margin-left 0.3s ease;
}

.content {
  padding: 20px;
  background: #f4f6f9;
  min-height: auto
}
